{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-book-repository-page{% endblock %}

{% block content %}

    <form action="{% url 'search' %}" method="get" class="form-inline mb-2">
        <div class="input-group">
            <input id="navbar-search-input" name="query" type="text" class="form-control" placeholder="Search" aria-label="Search" />

            <button class="btn btn-outline-light" type="submit" aria-label="Submit query">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>

    <h1>{{ page.title }}</h1>
    {{ page.body|richtext }}

    {% for book in page.get_children %}
        <h2><a href="{% pageurl book %}">{{ book.title|richtext }}</a></h2>

        {% with book.specific.main_image as main_image %}
            {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
        {% endwith %}

    {% endfor %}

{% endblock %}
